.contain{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
}
.main{
    display: flex;
    flex-direction: column;
}
.result{
    
}
.changecolor{
    background-color: burlywood;
}