.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.contain{
  position: relative;
  top: 10vh;
  left: 60%;
  transform: translateX(-70%);
  max-width: 40vw;
  min-height: 70vh;
  border: 5px solid rgba(58, 59, 59, 0.74);
}
.input{
  position: relative;
  top: 10px;
  width: 90%;
  line-height: 5vh;
  font-size: 20px;
}
.List{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
  width: 90%;
  left: 10px;
  
  text-align: left;
}
li{
  margin-top: 5px;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  list-style: none;
  padding: 5px 16px ;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid black;
}
button{
  height: 25px;
  width: 25px;
  position: absolute;
  right: 15px;
  border-radius: 50%;
  text-align: center;
}